@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$width:581px;
$height:366px;
$cardpadding:50px;
$cardmargin:102px;
$textheight:calc($width / 8.3);

la-alumnistore {
  margin:auto;
  background-image: url(../../assets/QRCODE/QRCODE.svg);
  background-repeat: no-repeat;
  // width: clamp(80%,100vw / 3,271px);
  // height: clamp(95%,100vw / 2,381px);
  width: min(50vw, 233px);
  height: min(calc(50vw * 0.0271 * 30), calc(50vh * 0.0271 * 30));
  background-color: #0f163b;
  display: grid;
  grid-auto-columns: 80%;
  grid-auto-rows: 75% 5%;
  perspective: 1800px;
  border-radius: 15px;
  background-size: 4vw;
  background-position-y: 2%;
  background-position-x: 90%;
  justify-content: center;
  align-content: center;
  transform-origin: 50% 50%;
  transform-style:preserve-3d;
  //transform: rotateX(111deg) rotateY(16.5deg);
  transition:transform 200ms ease-out;
  transition-delay: 200ms;
  box-shadow: 5px 5px 20px -5px rgb(0 0 0 / 60%);
  cursor: pointer;
}
la-alumnistore:hover{
  a::after{
    content: attr(href);
    text-align: center;
  }
}
la-alumnistore h1 {
  color: #3e3e42;
  font-weight: 800;
  letter-spacing: -1px;
  transform: translateZ(35px);
  text-shadow: 2px 3px 12px #0000008f;
  height: fit-content;
  margin: auto;
  position: absolute;
  z-index: 2;
}
la-alumnistore h3 {
  color: #eb285d;
  margin-bottom: 6px;
  transform: translateZ(25px);
  height: fit-content;
  margin: auto;
  position: absolute;
  z-index: 2;
}
.cards {
  box-shadow: 5px 5px 20px -5px rgb(0 0 0 / 97%);
  border-radius: 15px;
  perspective: 1800px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  //transform:translateZ(-50px);
  transition: transform 200ms ease-out;
  display: grid;
  grid-auto-columns: 80%;
  grid-auto-rows: 80%;
  align-content: center;
  justify-content: center;
  background-size: 50%;
  background-position: top center;
  background-color: #A784C6;
}

.card {
  /* border-radius: 15px; */
  //box-shadow: inset 5px 5px 20px -5px rgb(0 0 0 / 60%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  perspective: 1200px;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  //transform: translateZ(35px);
  transition: transform 200ms ease-out;
  background-color: transparent;
}
#Cognitacard{
  background-size: 23%;
  background-position: 20% 50%;
}
.card__img {
  position: relative;
}
.card__bg{
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 25px;
}
img.card__img {
  filter: drop-shadow(2px 4px 6px black) opacity(0.3);
  width: min(50%,218px);
}
// #Cognita{
//     top: 20px;
//     right: 11px;
//     left: unset;
//     bottom: -30px;;
//   }
// img#Espii\ Iterface\ \&\ Designs {
//     bottom: unset;
//     left: unset;
//     top: 0;
// }
.card__one {
  .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_monobg.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #254b60;
  // }
}

.card__two {
  .card__img {
    top: 25px;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_spirited.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #274a2e;
  // }
}

.card__three {
  .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlbg.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #3e2222;
  // }
}

.card__text {
  text-align: center;
}

.card__title {
  color: #009688;
  letter-spacing: min(0px,2px);
  line-break: auto;
}

.notice {
  background: gold;
  border-top-left-radius: 6px;
  bottom: 0;
  font-family: monospace;
  padding: 8px 10px;
  position: absolute;
  right: 0px;
}

.twitter__link {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 12px;
  z-index: -1;
  background: #00aced;
  border-radius: 20px;
  height: 30px;
  text-decoration: none;
  padding-right: 10px;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  width: 74px;
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
}

.twitter__icon {
  height: 30px;
}
@media only screen and (max-width: 600px){
  la-alumnistore{
    width: min(50vw, 233px);
    height: min(45vh, 411px);
  }
}
@media only screen and (max-width: 900px){
  la-alumnistore{
    height: max(calc(50vw * 0.0271 * 30), calc(50vh * 0.0271 * 30));
  }
}