@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body { height: 100%}

$width:581px;
$height:366px;
$cardpadding:50px;
$cardmargin:102px;
$textheight:calc($width / 8.3);

la-alumnistore {
  grid-area:photo;
  align-items: center;
  width: $width;
  height: $height;
  //background: #642B73;
  //background: linear-gradient(to bottom, #C6426E, #642B73);
  background: transparent;
  display: flex;
  font-family: 'Open Sans', sans;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
  margin: auto;
  //box-shadow: 0px 10px 20px 20px rgb(0 0 0 / 17%);
  border-radius: 15px;
  z-index: 3;
}
h1 {
  color: #3e3e42;
  font-size:16px;
  font-weight: 800;
  letter-spacing: -1px;
  transform: translateZ(35px);
  text-shadow: 2px 3px 12px #0000008f;
  height: fit-content;
  margin: auto;
  position: absolute;
  z-index: 2;
}

h3 {
  color: #eb285d;
  font-size: 16px;
  margin-bottom: 6px;
  transform: translateZ(25px);
  height: fit-content;
  margin: auto;
  position: absolute;
  z-index: 2;
}

.cards {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display: flex;
  height: $height - $cardpadding;
  width: $width - $cardpadding;
  margin: auto;
  display: grid;
  //padding: 30px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  z-index: 2;
  //transform: rotateX(11deg) rotateY(16.5deg);
  //min-width: 595px;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  text-align: center;
  cursor: pointer;
  margin: auto;
  height: $height - $cardmargin;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #041820;
  z-index: 2;
  
  // &:hover {
  //   box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.5);
  //   transform: translatez(60px);
  // }
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__img {
  position: relative;
}
.card__bg{
  position: absolute;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #041820;
  border-radius: 25px;
}
img.card__img {
  height: 50%;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#Cognita{
    top: 20px;
    right: 11px;
    left: unset;
    bottom: unset;
  }
.card__one {
  .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_monobg.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #254b60;
  // }
}

.card__two {
  .card__img {
    top: 25px;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_spirited.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #274a2e;
  // }
}

.card__three {
  .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  .card__bg {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlbg.jpg') center / cover no-repeat;
  }
  // .card__text {
  //   //background-color: #3e2222;
  // }
}

.card__text {
  align-items: center;
  //background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column; 
  height: $textheight;
  justify-content: center;
  //position: absolute;
  z-index: 2;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card__title {
  color: #EDE63E;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 3px;
  text-decoration: none;
  text-shadow: 4px 2px 4px #0c040480;
}

.notice {
  background: gold;
  border-top-left-radius: 6px;
  bottom: 0;
  font-family: monospace;
  font-size: 14px;
  padding: 8px 10px;
  position: absolute;
  right: 0px;
}

.twitter__link {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 12px;
  z-index: -1;
  background: #00aced;
  border-radius: 20px;
  height: 30px;
  text-decoration: none;
  padding-right: 10px;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  width: 74px;
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
}

.twitter__icon {
  height: 30px;
}
@media screen and (max-width: 650px){

  la-alumnistore{
    width: auto;
  }

}