@keyframes beforeOpacity{
    from{
        opacity:0;
        width:10%;

        }
    to{
        opacity:1;
        width:100%;
        }
}
la-loginregister{
    display: flex;
    margin: auto;
    padding-top: 10px;
    position: relative;
    top: clamp(calc(100vw * 0.0758),78px, calc(100vh * 0.0758));
}
la-loginregister[hide]{
    opacity: 0;
}
la-loginregister li{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
la-loginregister ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
la-loginregister button,
la-loginregister la-backtotop,
la-backhome.material-icons, 
la-backtotop.material-icons
{
    cursor: pointer;
    display: inline-block;
    text-decoration: none!important;
    background-blend-mode: overlay,normal;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    fill: #fff;
    background-color:#A784C6;
    font-weight: 100;
    font-size: 16px;
    position: relative;
    transition: all .3s ease;
    text-align: center;
    line-height: 1;
    letter-spacing: -.3px;
    margin-right:5px;
    border:none;
    white-space: nowrap;
}
.login{
    color: #000;
    font-weight: 400;

}
.register{
    background-color: #32273B;
}
la-backhome.material-icons,
la-backtotop.material-icons
{
    background-color: transparent;
    position: fixed;
    opacity:0;
    color:#2A163B;
    display:flex;
    align-items: center;
    -webkit-text-stroke-width: thick;
}
la-backtotop.material-icons{
    bottom: clamp(calc(100vw * 0.0758),78px, calc(100vh * 0.0758));
    right: 4%;
    margin: calc(100vh * 0.07) auto;
}
la-backhome.material-icons{
    top: 0;
    left: 4%;
    //margin: clamp(calc(100vw * 0.0758),78px, calc(100vh * 0.0758)) auto;
}
la-backtotop::after,
la-backhome::after
{
    color: white;
    padding: 5px 10px;
    font-family: roboto;
    letter-spacing: 3px;
    -webkit-text-stroke-width: thin;
    animation-name: beforeOpacity;
    animation-duration: .5s; 
    animation-timing-function: forwards;
}
la-backtotop:hover::after{
    content: "Back to Top";
    color:#32273B;
}
la-backhome:hover::after{
    content: "Home";
}
la-backtotop[show]{
    opacity:1;
}
la-carousel[store] la-backhome{
    opacity:1;
}
@media only screen and (max-width: 600px){
    la-backtotop.material-icons {
        bottom: 39px;
        margin: calc(100vh * 0.07 / 2) auto;
    }
    la-backtotop::after{
        content: "Back to Top";
        color:#32273B;
    }
    la-backhome::after{
        content: "Home";
    }
    la-backtotop::after,
    la-backhome::after
    {
        -webkit-text-stroke-width: thin;
    }
    la-backhome.material-icons, la-backtotop.material-icons {
        -webkit-text-stroke-width: thin;
    }
}