@keyframes beforeOpacity{
    from{
        opacity:0;
        width:10%;

        }
    to{
        opacity:1;
        width:100%;
        }
}
la-loginregister{
    display: flex;
    margin: auto;
    padding-top: 10px;
    position: relative;
    top: max(calc(50vw * 0.0758), calc(50vh * 0.0758));
    z-index: 1000;
}
la-loginregister[hide]{
    opacity: 0;
}
la-loginregister li{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
la-loginregister ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
la-loginregister button,
la-loginregister la-backtotop,
la-backhome.material-icons, 
la-backtotop.material-icons,
la-unfoldmore.material-icons
{
    cursor: pointer;
    display: flex;
    text-decoration: none!important;
    background-blend-mode: overlay,normal;
    border-radius: 0 0 5px 5px;
    margin-left: 5px;
    color: #fff;
    fill: #fff;
    background-color:#2196f3;
    font-weight: 100;
    font-size: 16px;
    position: relative;
    transition: all .3s ease;
    text-align: center;
    line-height: 1;
    letter-spacing: -.3px;
    border:none;
    white-space: nowrap;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}
la-loginregister button{
    width: unset;
}
.login{
    color: #000;
    font-weight: 400;

}
.register{
    background-color: #32273B;
}
la-backhome.material-icons,
la-backtotop.material-icons
{
    opacity:0;
    color:#2A163B;
    display:flex;
    align-items: center;
    -webkit-text-stroke-width: thick;
    z-index: 10;
}
la-backtotop.material-icons{
    right: 0;
    position: absolute;
    border-radius: 0 10px 5px 5px;
}
la-backhome.material-icons{
    top: 0;
    left: 4%;
    position: fixed;
    //margin: clamp(calc(50vw * 0.0758),78px, calc(50vh * 0.0758)) auto;
}
la-backtotop::after,
la-backhome::after
{
    color: white;
    padding: 5px 10px;
    font-family: roboto;
    letter-spacing: 3px;
    -webkit-text-stroke-width: thin;
    animation-name: beforeOpacity;
    animation-duration: .5s; 
    animation-timing-function: forwards;
}
la-backtotop:hover::after{
    content: "Top";
    color:#32273B;
}
la-backhome:hover::after{
    content: "Home";
}
la-backtotop[show]{
    opacity:1;
}
la-carousel[store] la-backhome{
    opacity:1;
}
@media only screen and (max-width: 600px){
    la-backtotop.material-icons {
        width: initial;
    }
    la-backtotop:hover::after{
        content: none;
    }
    la-backhome::after{
        content: "Home";
    }
    la-backtotop::after,
    la-backhome::after
    {
        -webkit-text-stroke-width: thin;
    }
    la-backhome.material-icons, la-backtotop.material-icons {
        -webkit-text-stroke-width: thin;
    }
}