$global-color-primary: #6EC1E4;
$global-color-secondary: #fdf6ed;
$global-color-text: #7A7A7A;
$global-color-accent: #61CE70;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight:500;
la-mainmenu{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20rem;
    display: flex;
    background-color: transparent;
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    //box-shadow: 0px 1px 3px -3px black;
    //width: clamp(calc(100vw / 1.8), 500px, calc(100vw / 1.1));

}
la-mainmenucontainer{
    background-image: url(../../assets//LAA/LAASVG.svg);
    background-position: left;
    background-repeat: no-repeat;
    margin: auto;
    height: clamp(calc(50vw * 0.0758),78px, calc(50vh * 0.0758));
    display: flex;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 1000;

}
@media only screen and (max-width: 1024px){
    la-mainmenucontainer{
        background-position: center;
    }
    la-mainmenu{
        flex-direction: column;
        width: 100%;
        box-shadow: none;
        la-logo{
            align-self: center;
            margin: auto;
        }
        la-menuanchor{
            margin: unset;
            align-items: center;
            padding-inline-start: 5vw;
            z-index: 1000;
        }
        la-loginregister{
            margin: unset;
            align-self: flex-end;
            position: unset;
            padding-inline-end: 5vw;
            transform: scale(var(--ggs,.7));
            la-backhome.material-icons, 
            la-backtotop.material-icons,
            button{
                padding: 8px 20px;
            }
        }
    }
}