la-sidebar{
    grid-area: two;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    overflow: hidden;
    transition:0.5s ease;
    position: relative;
    top: 2vh;
}

la-sidebar[overflow]{
    overflow: unset;
}
la-menubutton {
    transform: scale(var(--ggs,1));
    cursor: pointer;
    margin-bottom: 24px;
   }

   la-menubutton,
   la-menubutton::after,
   la-menubutton::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: whitesmoke
   }
   
   la-menubutton::after,
   la-menubutton::before {
    content: "";
    position: relative;
    top: 6px
   }
   
   la-menubutton::after {
    top: 11px
   }
   la-menubutton:hover{

   }
.backdropdiv{
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    grid-auto-flow: column;
    width: 300px;
    height: fit-content;
    backdrop-filter: opacity(0.1) invert(1);
}

.backdropdiv > la-menuanchorbutton{
    margin: auto auto auto 20px;
}
.backdropdiv > la-menuanchorbutton[dropdown] > la-menuanchorbuttondropdown{
    transform: translateX(75px);
    top: -18px
}