la-menuanchor{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}
la-menuanchor ul {
    list-style: none;
    display: flex;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    z-index: 1000;
    pointer-events: none;
}
.material-icons{
    cursor: pointer;
}
la-menuanchor li {
    position: static;
    padding: 0;
    margin:3vh;
    z-index: 1000;
    pointer-events: none;
    //width: calc(100vw / 1.6 / 6);
}
la-menuanchor button {
    position: relative;
    letter-spacing: -.3px;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    //color: #04354a;
    color: #56bfee;
    outline: none;
    background: none;
    border: none;
    grid-area: libutton;
    width: -webkit-fit-content;
}
@media only screen and (max-width: 1050px) {
    la-menuanchor #anchorbuttons{
        display: none;
        position: absolute;
        left: 0;
        backdrop-filter: sepia(1) invert(1);
        -webkit-backdrop-filter: sepia(1) invert(1);
        width: 50%;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 40vh;
        border-radius: 0 0 20px 20px;
        padding-top: 48px;
    }
    la-menuanchor ul{   
        background-color: #00001c;
        }
    la-menuanchor[overflow] #anchorbuttons{
        display: flex;
        width: 100%;
        button{
            color: #6EC1E4;
        }
    }
    la-menuanchor[overflow][dropdown=activities-dropdown] > #activities-dropdown{
        width: 50%;
        left: unset;
        right: 0;
        padding: unset;
        backdrop-filter: saturate(1.5) brightness(0.5) blur(8px);
        -webkit-backdrop-filter:saturate(1.5) brightness(0.5) blur(8px);
        background-image: linear-gradient(to bottom, black, transparent);
        h3{
            width: unset;
            padding: unset;
        }
        ul{
            width: unset;
            padding: unset;
        }


    }
}
@media only screen and (max-width: 600px){
    la-menuanchor #anchorbuttons{
        width: 100%;
        top:0;
    }
    la-menuanchorbutton[dropdown]{
        width: 100%;
        button{
            color: #6EC1E4;
        }
    }
}