$global-color-primary: #6EC1E4;
$global-color-secondary: #fdf6ed;
$global-color-text: #7A7A7A;
$global-color-accent: #61CE70;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight:500;
la-menuanchordropdownbutton{
    display: inline-grid;
    position: relative;
    text-align: center;
    cursor: pointer;
    //opacity: 0.5;
}

la-menuanchordropdownbutton[active]{
opacity: 1;
}
la-menuanchordropdownbutton:hover{
    filter: sepia(1);
    border-radius: 4px;
}
la-menuanchordropdownbutton[active]::after{
    content: "";
    background-image: linear-gradient(to right, $global-color-primary, transparent);
    height:2px;
}

