la-menubutton.material-icons{
    display: none;
    color: #FF3000;
    z-index: 1001;
    pointer-events: all;
}
@media only screen and (max-width: 1050px) {
    la-menubutton.material-icons{
        display: flex;
    }
    la-menuanchor{
        //width: clamp(20vw,115px,30vw);
    }
}