$global-color-primary: #6EC1E4;
$global-color-secondary: #fdf6ed;
$global-color-text: #7A7A7A;
$global-color-accent: #61CE70;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight:500;
la-menuanchorbutton{
    display: inline-grid;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-left: 1vw;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    //opacity: 0.5;
}
la-menuanchorbutton:nth-of-type(3)::before{
    content: "(NEW!)";
    color: #b30808;
    text-align: center;
    position: absolute;
    right: -32px;
    top: -16px;
    filter: opacity(1.5);
    font-weight: 600;
}
.dropdownanchor{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "libutton ex";
    width: 100%;
    grid-auto-columns: 80% 1fr;
    z-index: 1000;
    pointer-events: all;
}
#expandmore,#expandless{
    margin:auto;
    grid-area: ex;
}
#expandmore[disabled],#expandless[disabled]{
    display: none;
}
// la-menuanchorbutton:hover{
//     background-color: #6EC1E4;
//     border-radius: 10px;
// }
la-menuanchorbutton[dropdown]{
    la-menuanchorbuttondropdown{
        display: block;
    }
}
@media only screen and (max-width: 1050px){
    #expandmore,#expandless{
        color: white;
    }
}

