la-menubutton.material-icons{
    display: none;
    z-index: 1000;
    color: #BA5330;
}
@media only screen and (max-width: 1050px) {
    la-menubutton.material-icons{
        display: block;
    }
}