la-social{
    //width: calc(100vw  / 1.8);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    scroll-margin-top: min(calc(50vw * 0.0271), calc(50vh * 0.0271));
    scroll-snap-margin-top:min(calc(50vw * 0.0271), calc(50vh * 0.0271));
    position: fixed;
    top:calc(100vh - max(calc(50vw * 0.0271 + 48px), calc(50vh * 0.0271 + 48px)));
    width: min(calc(100vw / 1.1), calc(100vw / 1.8));
    background-color: #0f163bdb;
    backdrop-filter: blur(30px);
    ////border-radius: 10px;
    left: 0;
    right: 0;
    box-shadow: 2px -1px 12px -4px black;
    transform-style: preserve-3d;
    perspective: 1800px;
    transform-origin: center;
    z-index: 1001;
    //scroll-margin-block: max(calc(100vh * 0.25), calc(100vw * 0.25));

}
la-socialpad{
    width: 100%;
    //height: max(calc(50vw * 0.0271), calc(50vh * 0.0271));
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    //border-radius: 10px;
    height: max(calc(50vw * 0.0271 + 48px * 12), calc(50vh * 0.0271 + 48px * 12));
    transform-style: preserve-3d;
    perspective: 1800px;
    transform-origin: center;
    //margin-top: min(calc(100vh * 0.25 / 2), calc(100vw * 0.25 / 2));
}
la-socialpad input{
    display: none;
}
la-socialbutton, la-socialpad label{
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    margin:auto;
    position: absolute;
    //left: 0;
    //right: 0;
    top:1vh;
    transform-style: preserve-3d;
    perspective: 1800px;
    transform-origin: center;
    cursor: pointer;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    //border-radius: 9999px;
    box-shadow: 0px 1px 8px 0px #000;
    background-color: transparent;
    z-index: 1000;
    pointer-events: all;
}
la-unfoldmore.material-icons{
    position: absolute;
    left:0;
    cursor: pointer;
    z-index: 10;
    margin-left:0;
    //border-radius: 10px 0 5px 5px;
    width: 24px;
    background-color: #FF3000;
}
#la-socialbutton-input-1:checked ~ #la-socialpad{
        border-bottom: 3px solid #2aa9e0;
    }
#la-socialbutton-input-1:checked ~  #la-socialbutton-label-1,
#la-socialbutton-input-1:checked ~  #twlabel,
#la-socialbutton-input-2:checked ~  #la-socialbutton-label-2, 
#la-socialbutton-input-3:checked ~  #la-socialbutton-label-3,
#la-socialbutton-input-3:checked ~  #fblabel{
  transform: translatex(0) scale(1);
  z-index: 1;
  filter: unset;
}
#la-socialbutton-input-1:checked ~  #la-socialbutton-label-2, 
#la-socialbutton-input-2:checked ~  #la-socialbutton-label-3, 
#la-socialbutton-input-2:checked ~  #fblabel, 
#la-socialbutton-input-3:checked ~  #la-socialbutton-label-1,
#la-socialbutton-input-3:checked ~  #twlabel
 {
  transform: translatex(180%) scale(.8);
  z-index: 0;
  filter: grayscale(1);
  //filter: blur(15px);
}
#la-socialbutton-input-1:checked ~  #la-socialbutton-label-3, 
#la-socialbutton-input-1:checked ~  #fblabel, 
#la-socialbutton-input-2:checked ~  #la-socialbutton-label-1,
#la-socialbutton-input-2:checked ~  #twlabel,
#la-socialbutton-input-3:checked ~  #la-socialbutton-label-2
 {
  transform: translatex(-180%) scale(.8);
  z-index: 0;
  filter: grayscale(1);
  //filter: blur(15px);
}
#twlabel,#fblabel {
    width: 80%;
    //height: -webkit-fill-available;
    //left: calc(50% - 250px);
    top: max(calc(50vw * 0.0271 + 48px), calc(50vh * 0.0271 + 48px));
    //margin: clamp(calc(50vw * 0.0271),78px, calc(50vh * 0.0271)) auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //border-radius: 10px;
    box-shadow: none;
    overflow: auto;
    height: max(calc(50vw * 0.0271 + 48px * 12), calc(50vh * 0.0271 + 48px * 12));
}

#twlabel::-webkit-scrollbar,#fblabel::-webkit-scrollbar{
    width: 0;
}
#twlabel iframe,
#fblabel iframe{
    //pointer-events: all;
}
// #la-socialbutton-input-1:checked ~  #la-socialbutton-label-3,
// #la-socialbutton-input-2:checked ~  #la-socialbutton-label-4,
// #la-socialbutton-input-3:checked ~  #la-socialbutton-label-1,
// #la-socialbutton-input-4:checked ~  #la-socialbutton-label-2
// {
//   transform: scale(.8);
//   opacity: 0;
//   z-index: 0;
//   //filter: blur(15px);
// }