
$global-color-primary: #6EC1E4;
$global-color-secondary: #fdf6ed;
$global-color-text: #7A7A7A;
$global-color-accent: #61CE70;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight:500;
*{
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    scroll-behavior: smooth;
    user-select: none;
}
p , text{
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    word-spacing: 7px;
}
li{
    padding: 22px 9px;
}
::-webkit-scrollbar{
    width: 0;
}
html,body{
    margin: 0;
    font-size: 18px;
    letter-spacing: -.3px;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    word-wrap: break-word;

}
la-componenthandler {
    display: block;
    padding: 0;
    margin:0;
    color: black;
    position: relative;
    background: #f0f2f5;
    height: -webkit-fill-available;
    overflow: auto;
}
h3{
    color: #eb285d;
    box-shadow: 0 2px 2px -3px black;
    text-align: center;
}