
$global-color-primary: #6EC1E4;
$global-color-secondary: #fdf6ed;
$global-color-text: #7A7A7A;
$global-color-accent: #61CE70;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight:500;
@keyframes focusopacity {
    from{
        opacity: .2;
    }
    to{
        opacity: .1;
    }
    
}
*{
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    scroll-behavior: smooth;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-size: 16px;
    pointer-events: none;

    /* Chrome and Safari */
	-webkit-border-top-left-radius:40px;
	-webkit-border-top-right-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-webkit-border-bottom-left-radius:40px;
	/* Firefox */
	-moz-border-radius-topleft:40px;
	-moz-border-radius-topright:40px;
	-moz-border-radius-bottomright:40px;
	-moz-border-radius-bottomleft:40px;
	/* Standard Syntax */
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px

}
[focusable]:active{
    animation-name: focusopacity;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
[focusable]:focus{
    outline:solid orangered 2px;

}
p , text{
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    word-spacing: 7px;
}
li{
    padding: 22px 9px;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #0000004d;
    height: 48px;
    border-radius: 5px;
}
html,body{
    letter-spacing: -.3px;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    word-wrap: break-word;
    margin-top: 0;
}
la-componenthandler {
    display: block;
    padding: 0;
    margin:0;
    color: black;
    position: relative;
    background: white;
    height: -webkit-fill-available;
}
la-carousel,la-aboutcontainer{
    background-color: ghostwhite;
    margin-bottom: min(calc(50vw * 0.0271 + 48px), calc(50vh * 0.0271 + 48px));
}
h3{
    color: #8052e6;
    text-align: center;
    height: 10%;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h3::after{
    content: "";
    box-shadow: 0 2px 2px -3px black;
    width: 50%;
    position: relative;
    height: 7px;
}
@media only screen and (max-width: 1050px) {
    la-aboutcontainer, la-social,la-carousel{
        width:max(calc(100vw / 1.1), calc(100vw / 1.8))
    }
}